<!DOCTYPE html>
<html>
<head>
  <title>Myproject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href = "/"> index </a> <br>
<a href = "/home"> home </a> <br>
<a href = "/tests"> tests </a> <br>
<a href = "/people"> people </a> <br>
<a href = "/forum"> forum </a> <br>
<a href = "/about"> about </a> <br>
<a href = "help"> help </a>
<%= yield %>

</body>
</html>
